
/* above dotted container */
.abovedottedcontainer{
    /* border: 2px solid green;  */
   height: 20vh; 
  
    background-color: rgb(205, 243, 243); 
    display: flex;
justify-content: center; 
align-items: flex-end;}

.abovedottedheader{
   /* border: 2px solid black; */
   height: 8vh;


   text-align: center;
   
}  




/* media quwery */