

.footer{
    /* border: 2px solid red; */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerbox{
    /* border: 2px solid blue; */
    height: 70vh;
    width: 85vw;
    ;

}
.footerhead{
    /* border: 2px solid black; */
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(196, 65, 5);
}

.footerhead>h1{
    /* border: 2px solid red; */
    display: flex;
    width: 20vw;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: cursive;
   

}
.footerhead>h2{
    /* border: 2px solid rgb(11, 241, 80); */
    width: 25vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.linkquestionlocationcopyright{
    /* border: 2px solid yellow; */
background-color: black;
height: 50vh;}





.lastfooter{
    /* border: 2px solid red; */

    background-color: black;
  
    display: flex;
    justify-content: space-between;
}
.links{
    /* border: 2px solid violet; */
    height: 20vh;
    width: 25vw;
    /* position: relative;
    top: 2vh; */
    font-family: cursive;
    font-size: 55%;

}
.links>h1{
    /* border: 2px solid white; */
    height: 8vh;
    width: 10vw;
    display: flex;
    justify-content:center ;
    align-items: center;
    /* position: relative;
    left: 1rem; */
    color: yellowgreen;
}
.sublinks>ul{
    /* border: 2px solid yellow; */
    display: flex;
    width: 23vw;
    height: 7vh;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: white;
}

.haveaquestion{
    /* border: 2px solid blue; */
    height: 25vh;
    width: 25vw;
    /* position: relative;
    top: 2vh; */
    font-family: cursive;
    font-size: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.haveaquestion>h1{
    /* position: relative;
    left: 1rem; */
    /* border: 2px solid pink; */
    height: 8vh;
    width: 15vw;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: rgb(10, 240, 6);
}


.haveaquestion>h4{
    /* position: relative;
    left: 1rem; */
    /* border: 2px solid white; */
    height: 6vh;
    width: 15vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: rgb(236, 238, 231);
    /* margin: 0.4rem; */
}
.haveaquestion>h5{
    /* position: relative;
    left: 1rem; */
    /* border: 2px solid white; */
    height: 6vh;
    width: 15vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: rgb(236, 238, 231);
}
.location{
    /* border: 2px solid blue; */
    height: 25vh;
    width: 25vw;
    /* position: relative;
    top: 2vh; */
    font-family: cursive;
    font-size: 60%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
    
.location>h1{
    /* position: relative;
    left: 1rem; */
    height: 6vh;
    width: 15vw;
    color: rgb(174, 231, 28);
    /* border: 2px solid white; */
}

.location>h4{
    /* position: relative;
    left: 1rem; */
    /* border: 2px solid rebeccapurple; */
    height: 6vh;
    width: 15vw;
    color: rgb(236, 238, 231);
    /* margin: 0.4rem; */
}
.location>h5{
    /* border: 2px solid gold; */
    /* position: relative;
    left: 1.5rem; */
    color: rgb(236, 238, 231);
    height: 6vh;
    width: 15vw;}

.location>a{
    /* position: relative;
    left: 1.5rem;
    top: 2rem; */
    /* border: 2px solid orange; */
    height: 6vh;
    width: 10vw;
    color: rgb(236, 238, 231);
font-weight: 800;}




.copyrightsection{
    /* border: 2px solid red; */
    height: 25vh;


}
.copyrightsection>ul{
    /* border: 2px solid white; */
    height: 24vh;
    width: 70vw;
    display: flex;
    list-style: none;
    color: white;
   display: flex;
   align-items: flex-end;
   font-size: 74%;
   color: rgb(212, 172, 112);
    
}
.copyrightsection>ul>li{
    margin: 0.5rem;

    
}


/* media query  for mobile*/
@media(max-width:600px){
    .footerhead{height: 12vh;}
    .footerhead>h1{
        width: 45vw;
    }
    .footerhead>h2{
        
      width: 35vw;
      height: 6vh;
    }
    .links>h1{width: 20vw;}
    .sublinks>ul{height: 10vh;
        display: flex;
    flex-direction: column;
font-size: 0.8rem;}
.haveaquestion{
    width: 27vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     
}

.haveaquestion>h1{
    width: 25vw;
    height: 7vh;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.haveaquestion>h4{display: flex;
    justify-content: center;
    align-items: center;

}
.haveaquestion>h5{
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.location>h1{width:20vw;
display: flex;
justify-content: center;
align-items: center;}
.location>h4{
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location>h5{display: flex;
    justify-content: center;
    align-items: center;
}

.location>a{width: 16vw;
display: flex;
justify-content: center;
align-items: center;}
.copyrightsection>ul{
    /* border: 2px solid white; */
width: 80vw;
font-size: 0.5rem;}

}












