
.inputcontainer{
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formbox{
    /* border: 2px solid black; */
    height: 70vh;
    width: 65vw;
    border-radius: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    

}
 
.nameandemail{height: 12vh;
  
    /* border: 2px solid green; */
width: 45vw;
display: flex;
justify-content: space-evenly;
align-items: center;

}

#name{height: 6vh;
    width: 12vw;
    border-radius: 10px;
    


}



#mail{border-radius: 10px;
    height: 6vh;
        /* border: 2px solid green; */
    width: 12vw;
  
}

.company{
    /* border: 2px solid red; */
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#company{border-radius: 10px;
    height: 6vh;
    /* border: 2px solid green; */
width: 34.4vw;}

.textarea{
    /* border: 2px solid green; */
    display: flex;
   
    align-items: center;
    justify-content: center;
   
   
    height: 26vh;
    width: 40vw;
    border-radius: 10px;
}

.sendmessage{
    /* border: 2px solid blue; */
    display: flex;
    height: 10vh;
    /* width: 25vw; */
    /* width: 40vw; */
    justify-content: center;
    align-items: center;
}
#sent{
    /* border: 2px solid red; */
    height: 6vh;
    /* width: 20vw; */
   
    background-color: orange;
    color:white;
   
    border-radius: 20px;
}
/* media query for mobile */

@media(max-width:600px){
    .formbox{width: 80vw;
    height: 60vh;}
.nameandemail{width:65vw;
height:8vh ;
}
#name{width: 25vw;}
#mail{width:25vw}
.company{width: 65vw;
height:10vh ;}
.textarea{
    width: 65vw;
}

#sent{
   
}



}


