/* starting of navbar */
/* main > it contains nav paracontainer lasttxt */
.main{
    /* border: 2px solid pink; */
    height: 125vh;
    background-image: url(https://cdn.pixabay.com/photo/2013/11/03/08/05/cheers-204742_1280.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.navbar{
    /* border: 2px solid red; */
    display: flex;
    height: 15vh;
    width: 100%;
    color: white;
    

}
.navbar>ul{
    display: flex;
    list-style: none;
    justify-content: center;
  align-items: center;

}
.navbar>ul>li{
    padding: 1.2rem;
    position: relative;
    top: 0.4rem;
    left: 15rem;
    

}
/* #navbtn{border: 2px solid rgb(12, 1, 1);
height: 4vh;
width: 30vh;
color: black;

position: relative;
left: 7rem;}
/*  */
.navbar>button{
    /* border: 2px solid rgb(20, 1, 1); */
    height: 5vh;
    width: 8vw;
    position: relative;
    top: 2.1rem;
    left: 19rem;
    border-radius: 1rem;
}

.navbar>h4{
    /* border: 2px solid yellow; */
    height: 7vh;
    position: relative;
    top: 2rem;
    left: 2rem;
    font-weight: bolder;
    font-family: cursive;
} 





    
.paracontainer{
    /* border: 2px solid white; */
    height: 90vh;
    width: 100%;
    
    
    
    
}
.heading{
    /* border: 2px solid rgb(255, 27, 122); */
    height: 15vh;
   display: flex;
justify-content: center;
align-items: end;}
 


.heading>h4{
    color: white;
}
    /* display: flex;
    justify-content: center;
    align-items: center; */

.para{
    /* border: 2px solid rgb(26, 167, 97); */
    height: 30vh;
    
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.para>h1{
    color: white;
}
.btnletsbegin{
    /* border: 2px solid white;
    height: 5vh; */
    width: 6vw;
    position: relative;
    left: 35rem;
   
    
 
   
}
.btnletsbegin>button{background-color: teal;
    border-radius: 0.2rem;

}


  

.lasttxt{
    /* border: 2px solid white; */
    height: 15vh;
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
    ;
}
.lasttxt1{
    /* border: 2px solid rgb(174, 9, 9); */
    height:12vh;
    width: 30vw;
display: flex;
justify-content: center;
align-items: end;}

.lasttxt1>i{
    margin: 2vh;
}


    .lasttxt1>h4{
        color: white;
    }
   
    .lasttxt2{
        /* border: 2px solid white; */
        height:12vh;
        width: 30vw;
    display: flex;
    justify-content: center;
align-items: end;}
    
.lasttxt2>i{
    margin: 2vh;

}
  .lasttxt2>h4{
        color: white;
        margin: 0.2vh;
    }
    .lasttxt3{
        /* border: 2px solid white; */
        height:12vh;
        width: 30vw;
    display: flex;
    justify-content: center;
align-items: end;}
    
    .lasttxt3>p{
        color: white;
    }
.icons{
    /* border: 2px solid white; */
    height: 6vh;
    width: 6vw;
    display: flex;
    justify-content: space-around;
    margin: 0.1rem;
    align-items: end;

}







/* 
@media(max-width:1350px) and (min-width:900px){
  .main{height: 80vh;}

  .navbar{
    height: 6vh;
    ;
  }

  .navbar>ul{position: relative;
right: 15rem;
font-size: 65%;}
  }
  #navbtn{position: relative;
left: 5rem;} 
   */
    
    


  /* @media(max-width:899px) and (min-width:600px){ */
    /* .main{height: 140vh;}
    .navbar{
        height: 60vh;
        display: flex;
     
        
      }
      .navbar>ul{position: relative;
        right: 15rem;
        font-size: 65%;
    width: 100%;
display: flex;
flex-direction: column;
justify-content: start;
align-items: start;}
          }

   */