/* table */
.table{
    /* border: 2px solid blue; */
    height: 180vh;
    background-image: url(https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg);
    background-size: 100% 100%;
}
   


    .tableheader{
        border:2px solid red;
        height: 14vh;
        display: flex;
        justify-content: center;
        
        color: white;
      
        
        /* position: relative;
        left: 38vw; */
    }


.tablebox{
    border: 2px solid rgba(247, 20, 20, 0.521);
height: 160vh;
display: flex;
justify-content: center; }
    

/* sir grid code */


.gridcontainer{
    display: grid;
    grid-template-columns: 100px repeat(3,300px);
    grid-template-rows: 100px 250px 250px 250px ;
    justify-self: center;
    /* color: white; */
 }

    .grid-item{
        /* border: 2px solid white; */
        height: 100%;
        width: 100%;
        color: white;
border: 2px solid white;
text-align: center;}
#afridi{
    background-image: url(https://images.pexels.com/photos/10469894/pexels-photo-10469894.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: 100% 100%;
}

#arijit{background-image: url(https://images.pexels.com/photos/4224422/pexels-photo-4224422.jpeg?auto=compress&cs=tinysrgb&w=600);

background-size: cover;}
#amir{
    background-color: blueviolet;
}
#rauf{
    background-image: url(https://images.pexels.com/photos/1652299/pexels-photo-1652299.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    object-fit: fill;
}



/* media query */
@media(max-width:1160px){
    .tablebox{display: flex;
        height: 80vh;
        justify-content: center;
        align-items: center;
       
    }
    .table{height: 120vh;}
    .gridcontainer{
        display: grid;
        grid-template-columns: 40px repeat(3,90px);
        grid-template-rows: 40px 90px 90px 90px ;
        justify-self: center;
        overflow: hidden
    }

    
    ;
}
/* for high end laptops and 4k */
@media(min-width:1159px){
    .table{height: 240vh;}
    .tablebox{height: 220vh;}
}